.App {
  text-align: left;
  height: 100vh;
  background: rgb(43, 40, 45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
/* 1 */

input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  text-align: center;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.chat {
  margin: 10px 0;
  padding: 10px;
  background: #38343b;
  border-radius: 13px;
}

.chatMessages {
  /* vertical-align: bottom;
  display: flex;
  flex-direction: column; */
  overflow: scroll;
  max-height: 70vh;
  border: 1px solid white;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chatBox {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
}

.chatmessages {
  /* overflow: auto; */
  bottom: 0;
  width: 97%;
  margin: 0 auto;
}

#chatmessages {
  border: 1px solid #e2e4e3;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.name {
  margin: 0;
  align-items: center;
  display: flex;
}

.dateCreated {
  text-align: right;
  font-size: 9px;
  margin: 0;
}

input,
button,
textarea {
  border: none;
}

#messageInputArea {
  display: flex;
}

#messageInput {
  min-width: calc(100% - 37px);
  border-bottom-left-radius: 10px;
}

.cta-messageInputArea {
  width: 37px;
  padding: 0;
  border-bottom-right-radius: 10px;
}

.cta-1 {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 30px;
}

.cta-1 p {
  margin: 0;
  margin-right: 5px;
}

.cta-1:hover {
  background: #ab9df2;
  /* filter: grayscale(80%) */
}

.cta-2 {
  margin: 0 auto;
  border-radius: 5px;
  width: 200px;
}

.content {
  word-wrap: break-word;
  margin-left: 42px;
}

.firstPage {
  min-height: 100vh;
  background: #282c34;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}

.formContainer {
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
}

.firstPageForm {
  min-width: 60%;
  min-height: 50vh;
  background: #812e84;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.enterUserName {
  display: flex;
  justify-content: center;
}

#userName {
  border-radius: 5px;
  width: 100%;
  text-align: center;
  height: 40px;
}

#userName:focus,
#userName:hover {
  background: #ab9df2;
}

.cta:focus,
.cta:hover {
  background: #ab9df2;
}

.cta {
  width: 37px;
  padding: 0;
  border-radius: 5px;
  height: 38px;
}

footer {
  height: 40px;
  width: 100%;
  background: #812e84;
  display: flex;
  justify-content: center;
}

footer p {
  align-self: center;
  margin: 0;
  color: white;
}

img {
  object-fit: cover;
  width: 13%;
}

/* label container */

.themeColorSelection {
  display: flex;
  /* width: 80%;
  flex-wrap: wrap; */
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 15px;
}

input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  /* border: 2px solid white; */
  box-shadow: 0 0 0 1px black;
}

input#orange::after,
input#orange:checked:after {
  background: orange;
}

input#purple::after,
input#purple:checked:after {
  background: #ab9df2;
}

input#lightGreen::after,
input#lightGreen:checked:after {
  background: green;
}

input#PaleVioletRed::after,
input#PaleVioletRed:checked:after {
  background: palevioletred;
}

input#lightGreen {
  margin-right: 0;
}

.purple {
  background: #f6f5fa;
}

.green {
  background: lightgreen;
  margin-right: 0;
}

.palevioletred {
  background: palevioletred;
}